.container {
    margin: 10px 15px;
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.subheading {
    font-size: 16px;
    margin-bottom: 15px;
}

.image-container {
    margin-top: 15px;
}