.container {
  margin-top: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.subheading {
  font-size: 16px;
  margin-bottom: 15px;
}

.text-bold {
  font-weight: 600;
}

.backgournd-title-gray {
  background-color: #C9C9C9;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.backgournd-title-purple {
  background-color: #c154fd;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.image-container {
  margin-top: 15px;
}

.container2 {
  display: flex;
  margin: auto;
  width: 50%;
  .table-container {
    display: flex;
    flex-direction: row;
    // background-color: rgb(239 239 239 / 80%);
    .header {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      flex-direction: column;
    }
    .body {
      display: flex;
      flex-direction: row;
      .row {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        flex-direction: column;
        margin: auto;
        text-align: center;
      }
    }
  }

}

.subject-detail-container-content-row {
  margin: 10px 0px;
  display: flex;

  .subject-detail-content-col-left {
      background-color: rgb(242, 242, 242);
      border-radius: 20px;

      @media(max-width:1024px) {
          flex: 100%;
          max-width: 100%;
      }

      .subject-detail-content-col-right-data {

          div,
          h1,
          h2,
          h3,
          h4,
          h5,
          p,
          span,
          ul,
          li {
              background-color: #f2f2f2 !important;
          }

          img {
              height: auto !important;
              /* max-width: 100%; */
              width: 100% !important;
          }

          .readmore-button {
              padding: 10px;
              text-align: center;
              cursor: pointer;
              font-size: 15px;
              font-weight: 700;

              &:hover {
                  color: blue;
              }
          }
      }
  }
}
