.btn-small {
    width: 40px;
}

.required-mark {
    color: red;
    margin-left: 5px;
}

.ck-file-dialog-button {
    display: none;
}

.rdw-editor-wrapper {
    border: 1px solid var(--cui-input-border-color, #b1b7c1);
}

.editor-class {
    background: white;
    height: auto;
    min-height: 150px;
    padding: 0 10px;
}

.hidden-img-insert-icon {
    .rdw-image-wrapper {
        display: none;
    }
}
.fb_dialog > .fb_dialog_content > iframe {
    bottom: 10px !important;
}
