.category-management-update-container {
    position: relative;
    padding: 20px;

    .list-group-item {
        display: flex;
        justify-content: space-between;


    }

    .product-management-detail-buttons {

        .product-management-detail-button {
            margin-left: 5px;
            color: white;
            width: 82px;
        }

    }

    .preview-image-container {
        margin-bottom: 10px;
        position: relative;
        width: 100px;
        height: 100px;

        .preview-image-icon {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        .preview-image {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }





    .content-review {
        background-color: white;
        padding: 10px;
        border: 1px solid var(--cui-input-border-color, #b1b7c1);
    }

    .open-review-link {
        cursor: pointer;
    }

    .rdw-editor-wrapper {
        border: 1px solid var(--cui-input-border-color, #b1b7c1);
    }

    .form-group {
        font-size: 18px;
    }

    .editor-class {
        background: white;
        height: auto;
    }

    .form-control.is-valid {
        padding-right: calc(1.5em + 0.75rem);
        background-position: right calc(1.375em + 0.1875rem) center;
    }

    .form-control {
        -webkit-appearance: button;

    }

}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    min-width: 300px;
}


html:not([dir=rtl]) .was-validated .form-control:valid,
html:not([dir=rtl]) .form-control.is-valid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: right calc(1.375em + 0.1875rem) center;
}