
.header{
    background-color: rgb(75 113 162);
    text-align: center;
        .header-content {
            background-color: rgb(75 113 162);
            padding-bottom: 25px;
            display: inline-block;
            position: relative;
            max-width: 1240px;
            text-align: center;
            color: white;
            padding-bottom: 10px;
            .header-image{
                float: left;
                padding-top: 10px;
                margin-top: 5px;
            }
            .header-cart{
                float: right;
                // height: 40px;
                padding-left: 20px;
                font-size: 3rem;
                color: white;
                // padding-top: 10px;
                margin-top: 5px;
            }
            .header-vertical-line{
                border-left: 2px solid white;
                height: 48px;
                float: right;
                margin-top: 20px;
                margin-left: 20px;
            }
            .header-user{
                float: right;
                padding-left: 20px;
                margin-top: 18px;
                padding-right: 20px;
                border-right: 3px solid white;
                .header-user-icon{
                    padding-top: 7px;
                    font-size: 20px;
                    padding-right: 7px;
                    display: inline-block;
                }
                .header-account-content{
                    float: right;
                    .header-btn{
                        span{
                            position: relative;
                            float: right;
                            margin-left: 5px;
                        }
                        .account-btnsignin{
                            position: relative;
                            float: right;
                            margin-left: 5px;
                        }
                        .account-btnlogin{
                            position: relative;
                            float: right;
                            margin-left: 5px;
                        }
                    }
                    .user-name{
                        padding-left: 5px;
                        float: left;
                        font-weight: bolder;
                        font-size: larger;
                    }
                }
            }
            .header-hotline{
                float: right;
                padding-left: 20px;
                margin-top: 18px;
                margin-left: 35px;
                padding-right: 20px;
                border-right: 3px solid white;
                .header-hotline-icon{
                    padding-top: 7px;
                    font-size: 20px;
                    padding-right: 7px;
                    display: inline-block;
                }
                .header-hotline-content{
                    float: right;
                    .hotline-text{
                        margin-left: 5px;
                    }
                    .hotline-number{
                        padding-left: 5px;
                        float: left;
                        font-weight: bolder;
                        font-size: larger;
                    }
                }
            }
            .header-search{
                float: right;
                // height: 75px;
                padding-left: 20px;
                margin-left: 70px;
                padding-top: 15px;
                .header-search-box{
                    input{
                        font-size: 17px;
                        border-radius: 25px;
                        padding-left: 10px;
                        margin-bottom: 9px;
                        width: 450px;
                        height: 46px;
                    }
                    .header-search-icon{
                        z-index: 2;
                        margin-left: -30px;
                        color: black;
                        &:hover {
                            color:rgb(203, 203, 203);
                        }
                    }
                }
                div{
                    margin-top: 4px;
                    span{
                        padding-left: 20px;
                        &:hover {
                            color:rgb(203, 203, 203);
                            text-decoration: underline
                        }
                    }
                }
            }
    }
}