.product-info-detail-buy-sale-row{
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    .product-info-detail-buy-sale-data{
        padding: 10px;
        .product-info-detail-buy-sale-data-price{
            font-weight: bolder;
            color: rgb(209, 0, 0);
        }
        .product-info-detail-buy-sale-data-sale-price{
            text-decoration: line-through;
            color: rgb(92, 92, 92);
        }
        .original-price {
            text-decoration: line-through;
            font-weight: 300;
            font-style: italic;
        }
    }
    .product-info-detail-buy-sale-data-split {
        position: absolute;
        margin-top: 27px;
        @media(max-width:767px){
            display: none;
        }
        // @media(max-width:807px){
        //     display: none;
        // }
    }
    .product-info-detail-buy-sale-data-right{
        padding: 10px;
        .product-info-detail-buy-sale-data-price{
            font-weight: bolder;
            color: rgb(209, 0, 0);
            color: rgb(92, 92, 92);
        }
        .product-info-detail-buy-sale-data-sale-price{
            text-decoration: line-through;
        }
    }
}