.product-info-detail-interact-row{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    .product-info-detail-interact-tragop-quathe{
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin-top: 20px;
        .product-info-detail-interact-tragop{
            width: 49%;
            background-color: #4b71a2;
            // height: 50px;
            font-size: 20px;
            // @media(max-width:767px){
            //     font-size: 13px;
            // }
        }
        .product-info-detail-interact-quathe{
            width: 49%;
            background-color: #4b71a2;
            // height: 50px;
            font-size: 20px;
            // @media(max-width:767px){
            //     font-size: 13px;
            // }
        }
    }
    .product-info-detail-interact-buy{
        text-align: center;
        width: 100%;
        .product-info-detail-interact-buy-btn{
            width: 100%;
            margin: 10px 0px;
            background-color: rgb(179, 32, 32);
            height: 50px;
            font-size: 20px;
        }
    }
}
.popup-title {
    font-weight: bold;
    padding-right: 35px;
    @media(max-width:767px){
        padding-right: 25px;
        font-size: 1rem;
    }
}

.popup-body{
    .popup-context {
        .title-group {
            font-weight: bold;
            color: black;
        }
        .group-customer {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 10px;
            .form-email {
                .form-group {
                    margin-bottom: 0px !important;
                }
            }
        }
        .delivery-address {
            margin-top: 20px;
            .delivery-address-title {
                margin-bottom: 10px;
                .title-group {
                    font-weight: bold;
                    color: black;
                }
            }
            .group-delivery {
                background-color: #f1f1f1;
                padding: 10px;
                border-radius: 10px;
                .group-one {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    @media(max-width:767px){
                        flex-direction: column;
                    }
                    .form-province {
                        display: inline-block;
                        margin: 2px 2px 0px 0px;
                    }
                    .form-district {
                        display: inline-block;
                        margin: 2px 0px 0px 2px;
                    }
                    .form-ward {
                        display: inline-block;
                        margin: 2px 0px 0px 2px;
                    }
                    .font-15 {
                        select {
                            font-size: 15px !important;
                        }
                    }
                }
                .is-invalid-input {
                    select{
                        border-color: #e55353 !important;
                        background-repeat: no-repeat !important;
                        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
                    }
                }
                .form-address {
                    .form-group {
                        margin-bottom: 0px !important;
                    }
                }
            }
            .title-store {
                background-color: #f1f1f1;
                padding: 10px;
                border-radius: 10px;
                span {
                    color: black;
                    font-weight: bold;
                }
            }
            .delivery-address-option {
                display: flex;
                flex-direction: row;
                @media(max-width:767px){
                    flex-direction: column;
                }
                margin-bottom: 10px;
                .delivery-at-store {
                    display: inline-block;
                    label, input {
                        &:hover {
                            cursor: pointer !important;
                        }
                    }
                    
                }
                .delivery-at-home {
                    display: inline-block;
                    margin-left: 30px;
                    @media(max-width:767px){
                        margin-left: 0px;
                    }
                    label, input {
                        &:hover {
                            cursor: pointer !important;
                        }
                    }
                }
            }
        }
        .is-invalid-input {
            input {
                border-color: #e55353 !important;
                background-repeat: no-repeat !important;
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
            }
            
        }
    }
    
}
.popup-steptwo-body{
    .popup-step-two-context {
        .title-group{
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
        .group-customer {
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 10px;
            .group-fullname {
                padding-bottom: 10px;
            }
            .group-phone {
                padding-bottom: 10px;
            }
            .group-email {
                padding-bottom: 10px;
                
            }
            .group-address {
                padding-bottom: 10px;
            }
            .span-value {
                font-weight: bold;
                color: black;
            }
            .group-total-money {

            }
        }
    }
}
.popup-footer {
    .footer-one {
        padding-right: 15px;
        .text-first {
            color: black;
            font-weight: bold;
        }
        .text-second{
            color: red;
            font-weight: 700;
        }
    }
    .footer-two {
        padding-right: 15px;
        padding-bottom: 5px;
        margin-top: -10px;
        .btn-secondary {
            margin-right: 10px;
        }
    }
}
.z-index-0{
    z-index: 0 !important;
}
.z-index-2147483644 {
    z-index: 2147483644 !important;
}
.fb_dialog > .fb_dialog_content > iframe {
    bottom: 10px !important;
}

.fb_dialog > .fb_dialog_content > iframe > html > body > .pluginSkinLight > ._92bp {
    height: 0px !important;
}