.product-detail-container-col-right-promotion{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 20px 0px 10px 0px;
    margin: 10px 0px;
    .promotion-content{
        text-align: justify;
        .promotion-content-data{
            word-break: keep-all;
            div, h1, h2, h3, h4, h5, p, span, ul, li{
                background-color: #f2f2f2 !important;
            }
            img {
                height: auto !important;
                /* max-width: 100%; */
                width: 100% !important;
            }
        }
    }
    .promotion-header {
        padding-left: 5px;
    }
}