.product-detail {
    .product-detail-container {
        max-width: 1370px;

        // @media(max-width:767px){
        //     padding: 0px 10px;
        // }        
        .product-detail-container-middle-responsive {
            display: none;

            @media(max-width:1024px) {
                display: block;
            }

            .product-detail-container-middle-responsive-specification {
                .product-detail-specification-col-right {
                    display: block;

                    @media(max-width:1024px) {
                        display: none;
                    }
                }
            }

            .product-detail-container-middle-responsive-button {
                margin: 10px 0px;
                // @media(min-width:1024px){
                //     display: none;
                // }
            }
        }

        @media(max-width:1370px) {
            padding: 0px 10px;
        }

        .product-detail-container-row {
            display: flex;

            .product-detail-container-col-left {
                width: 75%;

                @media(max-width:1024px) {
                    width: 100%;
                }

                .product-detail-container-col-row-left {
                    background-color: rgb(242, 242, 242);
                    padding-top: 14px;
                    border-radius: 20px;
                    margin-left: 0px;
                    margin-right: 0px;
                    display: flex;

                    .product-left-content-contain {
                        padding: 50px 15px 10px 15px;
                        // margin: auto;
                        width: 40%;

                        @media(max-width:767px) {
                            display: none;
                        }

                        .img-detail {
                            height: auto;
                            width: 100%;
                            object-fit: contain;
                            border-radius: 3px;
                            border: 3px solid #d5d5d500;
                            border-image-source: linear-gradient(to right, #4caf5080, #9c27b0a8, #03a9f4a6);
                            border-image-slice: 1;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        .prodetail-short-desc {
                            margin: 30px 0px;
                            width: 100%;
                            height: 100%;
                            word-wrap: break-word;
                            text-align: justify;

                            div,
                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            p,
                            span,
                            ul,
                            li {
                                background-color: #f2f2f2 !important;
                            }

                            img {
                                height: auto !important;
                                /* max-width: 100%; */
                                width: 100% !important;
                            }
                        }

                        .footer-link-row-left-content-left-ul {
                            border-right: 2px solid rgb(202, 202, 202);
                            ;
                        }
                    }

                    .footer-link-vetical-line {
                        border-left: 2px solid rgb(140, 140, 140);
                        float: right;
                        margin-top: 10px;
                        margin-left: 20px;
                        margin-bottom: 20px;
                    }

                    .product-middle-content-contain {
                        padding: 0px 30px 30px 30px;
                        width: 60%;

                        @media(max-width:767px) {
                            width: 100%;
                        }

                        .img-detail-middle {
                            width: 100%;
                            object-fit: contain;
                            display: none;
                            margin: 20px 0px;

                            @media(max-width:767px) {
                                display: inline-block;
                            }
                        }

                        .product-info-detail-buy-sale {
                            // .product-info-detail-buy-sale-row{
                            //     background-color: rgb(255, 255, 255);
                            //     text-align: center;
                            //     justify-content: space-around;
                            //     .product-info-detail-buy-sale-data{
                            //         padding: 10px;
                            //         .product-info-detail-buy-sale-data-price{
                            //             font-weight: bolder;
                            //             color: rgb(209, 0, 0);
                            //         }
                            //         .product-info-detail-buy-sale-data-sale-price{
                            //             text-decoration: line-through;
                            //             color: rgb(92, 92, 92);
                            //         }
                            //     }
                            //     .product-info-detail-buy-sale-data-split {
                            //         margin: auto 0px;
                            //     }
                            //     .product-info-detail-buy-sale-data-right{
                            //         padding: 10px;
                            //         .product-info-detail-buy-sale-data-price{
                            //             font-weight: bolder;
                            //             color: rgb(209, 0, 0);
                            //             color: rgb(92, 92, 92);
                            //         }
                            //         .product-info-detail-buy-sale-data-sale-price{
                            //             text-decoration: line-through;
                            //         }
                            //     }
                            // }
                            // .product-info-detail-interact-row{
                            //     text-align: center;
                            //     .product-info-detail-interact-tragop-quathe{
                            //         width: 100%;
                            //         justify-content: space-between;
                            //         display: flex;
                            //         margin-top: 20px;
                            //         .product-info-detail-interact-tragop{
                            //             width: 45%;
                            //             background-color: rgb(33, 146, 211);
                            //             height: 50px;
                            //             font-size: 20px;
                            //         }
                            //         .product-info-detail-interact-quathe{
                            //             width: 45%;
                            //             background-color: rgb(33, 146, 211);
                            //             height: 50px;
                            //             font-size: 20px;
                            //         }
                            //     }
                            //     .product-info-detail-interact-buy{
                            //         text-align: center;
                            //         width: 100%;
                            //         .product-info-detail-interact-buy-btn{
                            //             width: 100%;
                            //             margin: 10px 0px;
                            //             background-color: rgb(179, 32, 32);
                            //             height: 50px;
                            //             font-size: 20px;
                            //         }
                            //     }
                            // }
                        }
                    }
                }
            }

            .product-detail-container-col-right {
                width: 25%;
                padding: 0px 0px 0px 15px;

                @media(max-width:1024px) {
                    display: none;
                }

                .product-detail-container-col-right-warranty {
                    background-color: rgb(242, 242, 242);
                    border-radius: 10px;
                    padding: 20px 33px 10px 10px;

                    .warranty-content {
                        text-align: justify;
                    }

                    .warranty-header {
                        padding-left: 5px;
                    }
                }

                .product-detail-container-col-right-uudai {
                    background-color: rgb(242, 242, 242);
                    border-radius: 10px;
                    padding: 20px 15px;
                    margin: 10px 0px;

                    .uudai-content {
                        text-align: justify;
                    }
                }
            }
        }

        .product-detail-container-content-row {
            margin: 10px 0px;
            display: flex;

            .product-detail-content-col-left {
                background-color: rgb(242, 242, 242);
                border-radius: 20px;

                @media(max-width:1024px) {
                    flex: 100%;
                    max-width: 100%;
                }

                .product-detail-content-col-right-data {

                    div,
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    p,
                    span,
                    ul,
                    li {
                        background-color: #f2f2f2 !important;
                    }

                    img {
                        height: auto !important;
                        /* max-width: 100%; */
                        width: 100% !important;
                    }

                    .readmore-button {
                        padding: 10px;
                        text-align: center;
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 700;

                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }
    }

    .product-detail-link-path {
        color: gray;
        font-size: large;
        margin: 10px;

        .product-link-cate {}

        .product-link-steperate {
            display: inline-block;
            margin: 0px 10px;
        }

        .product-link-product-name {
            display: inline-block;
        }
    }
}