.footerr{
    .footer-link{
        margin-top: 20px;
        max-width: 1370px;
        .footer-link-row{
            .footer-link-col-left{
                .footer-link-row-left{
                    background-color: rgb(242, 242, 242);
                    padding-top: 14px;
                    border-radius: 20px;
                    .footer-link-row-left-content-left{
                        padding-right: 0px;
                        .footer-link-row-left-content-left-ul{
                            border-right: 2px solid rgb(202, 202, 202);;
                        }
                        ul{
                            li{
                                padding: 8px 0;
                                list-style: none; 
                                a{
                                    color: black;
                                }
                            }
                        }
                    }
                    .footer-link-vetical-line{
                        border-left: 2px solid rgb(140, 140, 140);
                        float: right;
                        margin-top: 10px;
                        margin-left: 20px;
                        margin-bottom: 20px;
                    }
                    .footer-link-row-left-content-right{
                        ul{
                            li{
                                padding: 8px 0;
                                list-style: none; 
                                a{
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
            .footer-link-col-right{
                background-color: rgb(242, 242, 242);
                margin-left: 20px;
                padding-top: 2px;
                border-radius: 10px;
                .footer-contact-card{
                    margin-top: 3px;
                    margin-bottom: 3px;
                    padding: 8px 0;
                    border-bottom: 1px solid #8d7878;
                    .footer-contact-content{
                        display: inline-block;
                        .footer-contact-text{
                            position: relative;;
                        }
                        .footer-contact-time{
                            position: relative;;
                        }
                    }
                    .footer-contact-phone{
                        float: right;
                        padding-top: 10px;
                        font-weight: bolder;
                        font-size: larger;
                    }
                }
                .footer-contact-card-last{
                    margin-top: 3px;
                    margin-bottom: 3px;
                    padding: 8px 0;
                    .footer-contact-content{
                        display: inline-block;
                        .footer-contact-text{
                            position: relative;;
                        }
                        .footer-contact-time{
                            position: relative;;
                        }
                    }
                    .footer-contact-phone{
                        float: right;
                        padding-top: 10px;
                        font-weight: bolder;
                        font-size: larger;
                    }
                }
            }
        }
        .footer-info-row{
            margin-top: 20px;
            .footer-info-contact{
                background-color: #f2f2f2;
                border-right: 2px solid #cacaca;
                padding: 5px 0px 10px 20px;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                .footer-info-contact-content{
                    display: inline-block;
                }
                .footer-info-contact-img{
                    font-size: 24px;
                    display: inline-block;
                    .footer-img-fa{
                        margin-left: 21px;
                    }
                    // margin-left: 21px;
                }
            }
            .footer-info-payment{
                background-color: #f2f2f2;
                border-right: 2px solid #cacaca;
                padding: 13px 0px 10px 20px;
                .footer-info-payment-content{
                    display: inline-block;
                }
                .footer-info-payment-img{
                    display: inline-block;
                }
            }
            .footer-info-certificate{
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                background-color: #f2f2f2;
                padding: 8px 0px 10px 20px;
                margin-left: 20px;
                .footer-info-certificate-img{
                    display: inline-block;
                    img{
                        width: 90px;
                    }
                }
            }
        }
    }
}
