.scroll-to-top-icon {
  position: fixed;
  width: 100%;
  right: 30px;
  bottom: 140px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: #007bff;
  transform: scale(2);
  // margin-right: 70px;

}