.user-management-update-container {
    position: relative;

    .roles-wrapper {
        border: solid 1px #b1b7c1;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 10px;
        background: white;
        margin-left: -5px;
    }
}

.alert-bottom-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 300px;
    text-align: left;
}