.active-menu{
    background-color: cadetblue;
}
.zalo-chat-widget {
    display: none;
}
.w-155 {
  width: 155px;
}
.btn-right {
  float: right;
  margin-bottom: 12px;
}

.mr-10 {
  margin-right: 10px;
}

.error-text {
  color: red;
}
