.video-list-container {
    margin: 30px 0 50px 0;
    background: #ebebeb;
    border-radius: 10px;

    @media(max-width: 1920px) {
        margin: 30px 0 50px 0;
    }

    @media(max-width: 1024px) {
        margin: 30px 10px 50px 10px;
    }

    @media(max-width: 767px) {
        width: 500px;
        margin: 0px auto;
    }

    @media(max-width: 580px) {
        width: auto;
        margin: 0px auto;
    }

    .home-product-list-top {
        margin-top: 20px;
        padding: 15px 0px 15px 25px;
        border-radius: 10px 10px 0 0;
        background: #4b71a2;
        color: white;
        font-size: 20px;
        font-weight: 600;

    }

    .home-product-list-center {
        margin: 0 1px;
        height: 230px;
        overflow: hidden;

        .slick-next {
            right: 13px;

            &:before {
                content: none;
            }
        }

        .slick-prev {
            left: 8px;
            z-index: 99;

            &:before {
                content: none;
            }
        }

        .slick-slide {
            padding-top: 5px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            // transition: all .2s ease-in-out;
            max-width: 300px;
            // margin: auto;
            text-align: center;
            font-family: arial;
            display: inline-block;
            margin: 10px;

            .product-name {
                font-size: 23px;
                text-align: left;
                margin-left: 15px;
            }

            .price {
                font-size: 20px;
                font-weight: bolder;
                text-align: left;
                margin-left: 15px;
            }

            .price-not-use {
                font-size: 17px;
                text-align: left;
                margin-left: 15px;
                text-decoration: line-through;
            }

            .imgProduct {
                width: 300px;
                height: 550px;
                object-fit: contain;
                transition: all .2s ease-in-out;

                // &:hover {
                //     transform: scale(1.2);
                // }
            }

            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
            }
        }

        .slick-slide {
            @media(min-width:1024px) {
                max-width: 342px;
            }

            .wrapper {
                height: 220px;
                background: white;
                margin: auto;
                overflow: hidden;
                border-radius: 10px 10px 10px 10px;
                box-shadow: 0;
                transform: scale(0.95);
                // transition: box-shadow 0.5s, transform 0.5s;
                cursor: pointer;

                &:hover {
                    // transform: scale(1);
                    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
                }

                display: inline-block;
                box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2);

                .video {
                    height: 220px;
                    width: 100%;
                    border-radius: 10px;
                }



                .inside {
                    z-index: 9;
                    background: #92879B;
                    width: 140px;
                    height: 140px;
                    position: absolute;
                    top: -70px;
                    right: -70px;
                    border-radius: 0px 0px 200px 200px;
                    // transition: all 0.5s, border-radius 2s, top 1s;
                    overflow: hidden;

                    .icon {
                        position: absolute;
                        right: 85px;
                        top: 85px;
                        color: white;
                        opacity: 1;
                    }

                    &:hover {
                        width: 100%;
                        right: 0;
                        top: 0;
                        border-radius: 0;
                        height: 80%;

                        .icon {
                            opacity: 0;
                            right: 15px;
                            top: 15px;
                        }

                        .contents {
                            opacity: 1;
                            transform: scale(1);
                            transform: translateY(0);
                        }
                    }

                    .contents {
                        padding: 5%;
                        opacity: 0;
                        transform: scale(0.5);
                        transform: translateY(-200%);
                        transition: opacity 0.2s, transform 0.8s;

                        table {
                            text-align: left;
                            width: 100%;
                        }

                        h1,
                        p,
                        table {
                            color: white;
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }

        }


    }
}

.pagaination-product {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 22px;
    margin-right: 50px;
}